a {
    text-decoration: none;
    color: inherit;
}

.whitebtn {
    transition: 0.2s;
}
.whitebtn:hover {
    opacity: 0.8;
    padding-left: 30px;
    padding-right: 30px;
}
.whitebtn:after {
    opacity: 1;
    left: 0;
    right: 0;
}

.button {
    transition: 0.2s;
}
.button:hover {
    opacity: 0.8;
    border-radius: 25px;
    padding-bottom: 5px;
    padding-left: 3px;
    padding-right: 3px;
}
.button:after {
    opacity: 1;
    border-radius: 5px;
    top: 0;
    bottom: 0;
}
.button-d {
    opacity: 0.7;
    background-color: #5d1717;
    transition: 0.8s;
}
.button-d:hover {
    opacity: 1;
    border-radius: 25px;
    padding-bottom: 5px;
    padding-left: 3px;
    padding-right: 3px;
}
.button-d:after {
    opacity: 0.7;
    border-radius: 5px;
    top: 0;
    bottom: 0;
}
.iconh {
    transition: 0.25s;
}
.iconh:hover {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
}
.iconh:after {
    left: 0;
    right: 0;
    top: 0;
}